<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<a href="/add">Add an adress</a><br />
<table>
    <tr>
        <th>Name</th>
        <th>HomePhone</th>
        <th>CellPhone</th>
        <th>Email</th>
        <td>Actions</td>
    </tr>
    <tr th:each="adress : ${adresses}">
        <td th:text="${adress.Name}"></td>
        <td th:text="${adress.cellPhone}"></td>
        <td th:text="${adress.homePhone}"></td>
        <td th:text="${adress.email}"></td>
        <td>
            <a th:href="@{/detail/{id}(id=${adress.id})}">Details</a> -
            <a th:href="@{/delete/{id}(id=${adress.id})}">Delete</a>
            <a th:href="@{/search/{id}(id=${adress.id})}">Search</a>
        </td>
    </tr>
</table>
</body>
</html>
